@using Microsoft.AspNet.Identity
@using SIIS.Models
@{
    ViewBag.Title = "Alterar meus Dados";
    var username = User.Identity.GetUserName();

    var paciente = new Paciente();
    var responsavel = new Responsavel();
    ApplicationUser user = ApplicationUser.GetUsuario(username);
    if (user.TipoUsuario == TipoUsuarioEnum.Paciente)
    {
        paciente = Paciente.GetByUserId(user.Id);
        paciente.DataNascimento = Convert.ToDateTime(paciente.DataNascimento).ToShortDateString();
    }
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <ul class="nav nav-tabs" role="tablist" id="accountTab">
            <li class="active"><a href="#dadosCadastrais" role="tab" data-toggle="tab">Dados Cadastrais</a></li>
            @if (user.TipoUsuario == TipoUsuarioEnum.Paciente)
            {
                <li><a href="#permissoes" role="tab" data-toggle="tab">Permissões</a></li>
            }
            <li><a href="#passwordReset" role="tab" data-toggle="tab">Alterar a Senha</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="dadosCadastrais">
                @(user.TipoUsuario == TipoUsuarioEnum.Paciente
                ? Html.Partial("_ChangeDadosCadastraisPaciente", paciente)
                : Html.Partial("_ChangeDadosCadastraisProfissional", responsavel))
            </div>
            
                @if (user.TipoUsuario == TipoUsuarioEnum.Paciente)
                {
                    <div class="tab-pane" id="permissoes">
                        @Html.Partial("_ChangePermissoesPaciente", paciente)

                    </div>
                }
            <div class="tab-pane" id="passwordReset">
                @Html.Partial("_ChangePasswordPartial")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
