@using Microsoft.AspNet.Identity
@using SIIS.Models
@{
    ViewBag.Title = "Alterar meus Dados";
    var username = User.Identity.GetUserName();

    ApplicationUser user = ApplicationUser.GetUsuario(username);
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <ul class="nav nav-tabs" role="tablist" id="accountTab">
            <li class="active"><a href="#dadosCadastrais" role="tab" data-toggle="tab">Notifications</a></li>
            <li><a href="#passwordReset" role="tab" data-toggle="tab">Alterar a Senha</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="dadosCadastrais">
                @if (user.TipoUsuario == TipoUsuarioEnum.Paciente)
                {
                    Paciente paciente = Paciente.GetByUserId(user.Id);
                    @Html.Partial("_ChangeDadosCadastraisPacientePartial", paciente)
                }
                else
                {
                    @Html.Partial("_ChangeDadosCadastraisProfissionalPartial")
                }
            </div>
            <div class="tab-pane " id="passwordReset">
                @Html.Partial("_ChangePasswordPartial")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
