@model SIIS.Models.RegisterPacienteViewModel
@{
    ViewBag.Title = "Registro de Usuário";
}
<h2>@ViewBag.Title</h2>

@Scripts.Render("~/Scripts/Account/RegisterPaciente.js")

@using (Html.BeginForm("RegisterPaciente", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Registrando-se como um Paciente.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.NomeCompleto, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control", @maxlength = "100" })
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
            @Html.ValidationMessageFor(m => m.NomeCompleto, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
            <p style="margin-bottom: 0px;">Você receberá um e-mail de confirmação para ativar o seu cadastro.</p>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cpf, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Cpf, new { @class = "cpf form-control" })
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
            @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataNascimento, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.DataNascimento, new { @class = "data form-control" })
            <div class="col-md-6" style="padding-top: 5px;">
                @Html.ValidationMessageFor(m => m.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.fone, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.fone, new { @class = "telefone form-control" })
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
            @Html.ValidationMessageFor(m => m.fone, "", new { @class = "text-danger" })
        </div>
    </div>
    <label id="validationCep" class="col-md-offset-2 text-danger control-label" style="display: none"></label>
    @Html.ValidationMessageFor(m => m.Cep, "", new { @class = "col-md-offset-2 text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label">Endereço</label>
        <div class="col-md-3">
            @Html.LabelFor(m => m.Cep, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Cep, new { @class = "cep form-control" })

        </div>
        <div class="col-md-3">
            @Html.LabelFor(m => m.Cidade, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control", @maxlength = "200", @readonly = true })
        </div>
        <div class="col-md-1">
            @Html.LabelFor(m => m.Uf, new { @class = "control-label" })
            @Html.HiddenFor(m => m.Uf)
            @Html.DropDownList("Uf", null, new { @class = "form-control", @disabled = true })
        </div>
        <div class="col-md-offset-2 col-md-3">
            @Html.LabelFor(m => m.Bairro, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control", @maxlength = "200", @readonly = true })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(m => m.Endereco, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control", @maxlength = "200", @readonly = true })
        </div>
        <div class="col-md-1">
            @Html.LabelFor(m => m.NumeroEndereco, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.NumeroEndereco, new { @class = "form-control", @maxlength = "10" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Complemento, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control", @maxlength = "10" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TipoPermissao, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.DropDownList("TipoPermissao", null, new { @class = "form-control" })
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
            <p id="txtExplicativoQualquerProfissionalPodeAcessar" style="margin-bottom: 0px;">
                Indica que qualquer Profissional de Saúde poderá consultar e adicionar dados ao seu histórico.
            </p>
            <p id="txtExplicativoPergunteMe" style="margin-bottom: 0px; display: none;">
                O seu registro de atendimento só estará disponível a comunidade médica após sua aprovação.
            </p>
            @Html.ValidationMessageFor(m => m.TipoPermissao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="col-md-6" style="padding-top: 5px;">
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group hidden" id="divListaProfissionaisPermitidos">
        @{ Html.RenderPartial("_RegisterPacienteProfissionaisPermitidos", Model.Permissao); }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Salvar Registro" />
        </div>
    </div>
}

@Html.Hidden("hdnAddTempDataProfissionaisPermitidos", Url.Action("AddTempDataProfissionaisPermitidos", "Account"))
@Html.Hidden("hdnRemoveTempDataProfissionaisPermitidos", Url.Action("RemoveTempDataProfissionaisPermitidos", "Account"))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}