@using PagedList;
@using PagedList.Mvc;
@using SIIS.Models;
@model IPagedList<Extrato>
    @{
        var idPaciente = Model.First().Paciente.Id;

    }

    <div id="divTableExtratosPaciente">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive" style="margin: 0;">
                    <thead>
                        <tr>
                            <th onclick="OrdenarExtratosPaciente('@idPaciente', '@Model.PageNumber', 'Id'); " style="cursor: pointer;" class="text-center">Código</th>
                            <th onclick="OrdenarExtratosPaciente('@idPaciente', '@Model.PageNumber', 'DataReferencia'); " style="cursor: pointer;" class="text-center">Data</th>
                            <th onclick="OrdenarExtratosPaciente('@idPaciente', '@Model.PageNumber', 'Responsavel.Nome'); " style="cursor: pointer;" class="text-center">Responsável</th>
                            <th onclick="OrdenarExtratosPaciente('@idPaciente', '@Model.PageNumber', 'PlanoSaude'); " style="cursor: pointer;" class="text-center">Plano de Saúde</th>
                            <th onclick="OrdenarExtratosPaciente('@idPaciente', '@Model.PageNumber', 'Cidade'); " style="cursor: pointer;" class="text-center">Cidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var extrato in Model)
                        {
                            var textoResponsavel = extrato.Responsavel.Nome + " (" +
                                extrato.Responsavel.NumeroConselhoRegional + " " +
                                extrato.Responsavel.SiglaConselhoRegional + "/" +
                                extrato.Responsavel.UfConselhoRegional + ")";

                            <tr onclick="AbrirModalExtrato('@extrato.Id');" style="cursor: pointer;">
                                <td style="text-align: right;">@extrato.Id</td>
                                <td style="text-align: center;">@extrato.DataReferencia.ToShortDateString()</td>
                                <td style="text-align: left;">@textoResponsavel</td>
                                <td style="text-align: left;">@extrato.PlanoSaude</td>
                                <td style="text-align: left;">@extrato.Cidade - @extrato.Uf</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.HasNextPage || Model.HasPreviousPage)
                {
                    <div style="text-align: center" class="pagedList" data-al-target="#divTableExtratosPaciente">
                        @Html.PagedListPager(Model, page => Url.Action("ListarExtratosPaciente", new
                    {
                        orderBy = "Id"
                    }), PagedListRenderOptions.Classic)
                    </div>
                }
            </div>
        </div>
    </div>