@model SIIS.Models.Responsavel

<div class="row">
    <div class="col-md-8 boxComposicao" style="padding-bottom: 10px;">
        <label style="color: rgb(164, 231, 236)">Pesquisar entre seus extratos</label>
        <hr style="margin-top: 5px;" />

        <div class="row" style=" margin-bottom: 10px;">
            <div class="col-sm-3">
                @Html.TextBox("FiltroCodigo", null, new { @class = "numero form-control", @placeholder = "Código" })
            </div>
            <div class="col-sm-4">
                @Html.TextBox("FiltroCpf", null, new { @class = "cpf form-control", @placeholder = "CPF do Paciente" })
            </div>
        </div>
        <div class="row" style=" margin-bottom: 10px;">
            <div class="col-sm-3">
                @Html.TextBox("FiltroDataInicio", null, new { @class = "data form-control", @placeholder = "Data Inicial" })
            </div>
            <div class="col-sm-1">
                <label style="margin-top: 10px; text-align: center;">até</label>
            </div>
            <div class="col-sm-3">
                @Html.TextBox("FiltroDataFim", null, new { @class = "data form-control", @placeholder = "Data Final" })
            </div>
        </div>
        <div class="row" style=" margin-bottom: 10px;">
            <div class="col-sm-3">
                @Html.TextBox("FiltroNome", null, new { @class = "form-control", @placeholder = "Nome do Paciente", @maxlength = "100" })
            </div>
            <div class="col-sm-4">
                @Html.TextBox("FiltroCidade", null, new { @class = "form-control", @placeholder = "Cidade", @maxlength = "100" })
            </div>
            <div class="col-sm-3 pull-right">
                <button class="btn btn-success">Filtrar</button>
            </div>
        </div>
    </div>
</div>
<div id="divExtratosResponsavel">
    @Html.Partial("_ExtratosResponsavel", Model.Extratos)
</div>