@model SIIS.Models.RegisterProfissionalViewModel

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="lead">Registrar-se como Profissional de Saúde</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NomeCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NomeCompleto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeCompleto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => Model.NumeroConselho, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.NumeroConselho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroConselho, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => Model.ConselhoRegional, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <select class="form-control">
                    <option></option>
                    <option selected>CRM</option>
                </select>
                @Html.ValidationMessageFor(model => model.ConselhoRegional, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => Model.UfConselhoRegional, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                <select class="form-control">
                    <option></option>
                    <option selected>RS</option>
                </select>
                @Html.ValidationMessageFor(model => model.ConselhoRegional, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                &ensp;aaa
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar Cadastro" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Registrar", "Home")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
