@model SIIS.Models.Paciente
@{
    var textoIdade = "idade não informada";
    if (Model != null)
    {
        var dataNascimento = Convert.ToDateTime(Model.DataNascimento);
        int anos = DateTime.Now.Year - dataNascimento.Year;
        if (DateTime.Now.Month < dataNascimento.Month || (DateTime.Now.Month == dataNascimento.Month && DateTime.Now.Day < dataNascimento.Day))
        {
            anos--;
        }
        textoIdade = Model.DataNascimento != null ? anos + " anos" : "idade não informada";

        @Html.HiddenFor(x => x.Id)
        <div class="col-md-12" style="">
            <p class="text-muted" style="margin: 0;">@Model.Nome, @textoIdade, de @Model.Cidade - @Model.Uf</p>
            <p class="text-muted" style="margin: 0;">E-mail: @Model.Email</p>
        </div>
    }
}
