@model SIIS.Models.Extrato
@{
    ViewBag.Title = "Preencher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Extrato/Extrato.js")

<h2>Extrato de Prontuário</h2>
@using (Html.BeginForm("Preencher", "Extrato", FormMethod.Post, new { @id = "formPreencherExtrato" }))
{
    @Html.ValidationSummary()
    <h4>Preenchendo um Extrato de Prontuário</h4>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                @Html.LabelFor(m => m.DataReferencia, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DataReferencia, new { @class = "data form-control" })
                @Html.ValidationMessageFor(m => m.DataReferencia, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <label class="control-label">CPF do Paciente</label>
                @Html.TextBoxFor(m => m.Paciente.CpfCnpj, new { @class = "cpf form-control" })
                @Html.ValidationMessageFor(m => m.Paciente.CpfCnpj, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <button type="button" id="btnVerificarCpf" class="btn btn-default" style="margin-top: 25px;">
                    Verificar CPF e continuar
                </button>
            </div>
            <br />
            <div class="col-md-4">
                <div id="divInformacoesPaciente">
                    @Html.Partial("_DadosCadastraisPaciente", Model.Paciente)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="divPreencherComposicoes" style="">
                @Html.Partial("_PreencherComposicoes", Model.Composicoes)
            </div>
        </div>
    </div>
}

@Html.Hidden("urlBuscarPaciente", Url.Action("BuscarPaciente", "Extrato"))