@model SIIS.Models.Extrato
@{
    ViewBag.Title = "Preencher";
}

@Scripts.Render("~/Scripts/Extrato/Extrato.js")

<h2>Extrato de Prontuário</h2>
@using (Html.BeginForm("Preencher", "Extrato", FormMethod.Post, new { @id = "formPreencherExtrato" }))
{
    @Html.HiddenFor(x => x.Responsavel.Id)
    @Html.HiddenFor(x => x.Responsavel.UserId)
    @Html.HiddenFor(x => x.Responsavel.Uf)
    @Html.HiddenFor(x => x.Responsavel.Cidade)
    @Html.HiddenFor(x => x.Uf)
    @Html.HiddenFor(x => x.Cidade)

    @Html.ValidationSummary()
    <h4>Preenchendo um Extrato de Prontuário</h4>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                @Html.LabelFor(m => m.Id, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = true })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.DataReferencia, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.DataReferencia, new { @class = "data form-control" })
                @Html.ValidationMessageFor(m => m.DataReferencia, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <label class="control-label">CPF do Paciente</label>
                @Html.TextBoxFor(m => m.CpfPaciente, new { @class = "cpf form-control" })
                @Html.ValidationMessageFor(m => m.CpfPaciente, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <button type="button" id="btnVerificarCpf" class="btn btn-default" style="margin-top: 25px;">
                    Verificar CPF e continuar
                </button>
            </div>
            <br />
            <div class="col-md-5">
                <div id="divInformacoesPaciente">
                    @if (Model.Id > 0)
                    {
                        if (Model.Paciente == null || Model.Paciente.Id == 0)
                        {
                            <div class="col-md-12" style="">
                                <p class="text-muted" style="margin: 0;">O Paciente com este CPF ainda não se cadastrou no SIIS.</p>
                                <p class="text-muted" style="margin: 0;">Prossiga para registrar o seu atendimento, mas o extrato só estará disponível à comunidade médica após o seu cadastro.</p>
                            </div>
                        }
                        else
                        {
                            @Html.Partial("_DadosCadastraisPaciente", Model.Paciente)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div id="divPreencherComposicoes">
                @Html.EditorFor(x => x.Composicoes)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div id="" class="row boxComposicao" style="margin-bottom: 10px; padding-top: 0;">
                <button type="button" class="btn btn-sm btn-link" onclick="AddComposicao()">
                    <span class="glyphicon glyphicon-plus"></span> Nova Composição
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> Voltar</a>
            <a href="@Url.Action("Preencher")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Novo Extrato</a>
            <button class="btn btn-success">Gravar</button>
        </div>
    </div>
}

@Html.Hidden("urlBuscarPaciente", Url.Action("BuscarPaciente", "Extrato"))
@Html.Hidden("urlAddTempDataComposicoes", Url.Action("AddTempDataComposicoes", "Extrato"))
@Html.Hidden("urlAddTempDataSecoes", Url.Action("AddTempDataSecoes", "Extrato"))
@Html.Hidden("urlRemoveTempDataComposicoes", Url.Action("RemoveTempDataComposicoes", "Extrato"))
@Html.Hidden("urlRemoveTempDataSecoes", Url.Action("RemoveTempDataSecoes", "Extrato"))
@Html.Hidden("urlVerificarSalvarExtrato", Url.Action("VerificarSalvar", "Extrato"))
